---
name: "Initialize environment"

on:
  workflow_call:

jobs:
  init:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Install dependencies
        run: pip install -r .dev_requirements.txt
